bam
.bam
config.lua
datasrc/__pycache__
datasrc/*.pyc
objs
src/game/generated
SDL.dll
freetype.dll
autoexec.cfg

crapnet*
dilate*
fake_server*
map_resave*
map_version*
packetgen*
fng2_srv*
tileset_border*
.vs
Debug
